all/migrations/0001_initial.py
all/migrations/__pycache__/0001_initial.cpython-36.pyc
all/models.py
*.pyc
all/migrations/__init__.py
all/migrations/__init__.py
all/migrations/__init__.py
avtoriz/migrations/0002_auto_20170410_2108.py
avtoriz/migrations/__init__.py