{% extends "base.html" %}

{% block title %} Полезная информация {% endblock %}

{% block menu %}

<h1 class = "center_text"> <p> Здесь Вы сможете ознакомиться </p>
   <p>  с полезной информацией о нашей стоматологии. </p>    </h1>
<h3>
<p Id = "price_list">
    Ознакомтесь с Прайс-Листом:
</p> </h3>
<h2 id="table">
        <table border="2" class="text_in_table">
            <b>
            <tr>
                <td>***</td>
                <td>ФИО врача</td>
                <td>Первичный прием</td>
                <td>Повторный прием</td>
             </tr>
            {% for x in all_vrach %}
            <tr>
                <td>
                    {{ x.FK_position.position }}<br>
                </td>
                <td>
                    {{ x.FK_People.familia }}<br>
                    {{ x.FK_People.imya }}<br>
                    {{ x.FK_People.otchestvo }}<br>
                </td>
                <td>
                    {{ x.price_ferst }}<br>
                </td>
                <td>
                    {{ x.price_second }}<br>
                </td>
            {% endfor %}
            </tr>
                </b>
        </table>
</h2>


<h2><p id="inf_work">Мы работаем:</p></h2>

<table class="text_information">
    <tr>
        <td>

            <h3>
            <p>Ежедневно без перерывов с 9:00 до 18:00, кроме субботы и воскресенья.</p>
               <center> <p> ***</p>
                        <p> ***</p>
               </center>
            <p>За подробной информацией обращаться:</p>
            <p>Ростов-на-Дону, улица Текучева 145, 1 этаж</p>
            <p>Tелефон +7 (988) 740 80 80 или 286 03 30</p>
            <p>E-mail: BlueToth@mail.ru</p>
            </h3>

        </td>
    </tr>

</table>

{% endblock %}