{% extends "base.html" %}

{% block title %} Полезная информация {% endblock %}

{% block menu %}

<h1 class = "center_text"> <p> Здесь Вы сможете ознакомиться </p>
   <p>  с полезной информацией о нашей стоматологии. </p>    </h1>
<h3>
<p Id = "price_list">
    Ознакомтесь с Прайс-Листом:
</p> </h3>

{% block style %}
.button_container
    {
        position: absolute;
        width: 100%;
        /*height:100%;*/
        top: 340px;
        left: 50px;
        margin-top: 220px;
        text-align: left;
        border: 4px;
    }

    .button_container input
    {
        font-size: 20pt;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#00BBD6), to(#EBFFFF));
    }
{% endblock %}


<h2 id="table">
        <table border="2" class="text_in_table">
            <b>
            <tr>
                <td>***</td>
                <td>ФИО врача</td>
                <td>Первичный прием</td>
                <td>Повторный прием</td>
             </tr>
            {% for x in doctors %}
            <tr>
                <td>
                   {{ x.FK_position.position }}<br>
                </td>
                <td>
                    {{ x.FK_People.familia }}<br>
                    {{ x.FK_People.imya }}<br>
                    {{ x.FK_People.otchestvo }}<br>
                </td>
                <td>
                    {{ x.price_ferst }}<br>
                </td>
                <td>
                    {{ x.price_second }}<br>
                </td>
            {% endfor %}
            </tr>
                </b>
        </table>
</h2>


<h2><p id="inf_work">Мы работаем:</p></h2>

<table class="text_information">
    <tr>
        <td>

            <h3>
            <p>Ежедневно без перерывов с 9:00 до 18:00, кроме субботы и воскресенья.</p>
               <center> <p> ***</p>
                        <p> ***</p>
               </center>
            <p>За подробной информацией обращаться:</p>
            <p>Ростов-на-Дону, улица Текучева 145, 1 этаж</p>
            <p>Tелефон +7 (988) 740 80 80 или 286 03 30</p>
            <p>E-mail: BlueToth@mail.ru</p>
            </h3>

        </td>
    </tr>

</table>
<div class="button_container">
    <p> <a href="/lk" ><input type="button" value="НАЗАД"></a> </p> </div>
{% endblock %}