{% extends "base.html" %}

    {% block title %} Личный кабинет пациента {% endblock %}

{% block menu %}
<p><h1 id="center_text"> Добро пожаловать в личный кабинет!  </h1></p>
<p> <h1 id="left_text"> Здесь вы сможете записаться на прием к врачу </h1> </p>
<div class="button_container">
    <center> <p> <a href="/zapis" ><input type="button" value="ЗАПИСАТЬСЯ"></a> </p> </center>
    <center> <p> <a href="/vyzovy_na_dom" > <input type="button" value="ВЫЗОВЫ НА ДОМ"></a> </p></center>
    <center> <p> <a href="/past_visits" > <input type="button" value=" ПРЕДЫДУЩИЕ ПОСЕЩЕНИЯ"></a> </p></center>
    <center> <p><a href="/future_visits" > <input type="button" value="ПРЕДСТОЯЩИЕ ПОСЕЩЕНИЯ"></a> </p></center>
    <center> <p> <a href="/helpful_information" ><input type="button" value="ПОЛЕЗНАЯ ИНФОРМАЦИЯ"> </a> </p></center>
    <center> <p> <a href="/" ><input type="button" value="НА ГЛАВНУЮ"> </a> </p></center>
</div>
{% endblock %}
