{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запись пациента</title>
    <link rel = "stylesheet" href="style.css">
</head>
<body>

<style type="text/css">

#images
    {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1370px;
        height: 620px;
    }
#center_text
    {
        text-align: center;
        position: absolute;
        top: 50px;
        width: 100%;
    }
#left_text
    {
        text-align: left;
        position: absolute;
        top: 150px;
        width: 100%;
        left: 30px;
        color: darkblue;
    }
</style>

<img id="images" src="{% static 'images/background.jpg' %}" alt=" ">

<h1 id="center_text"> Здесь Вы можете записаться на прием!  </h1>
<p><h2 id="left_text">Для этого Вам необходимо выбрать врача и забронировать время.</h2></p>
</body>
</html>